@import "tailwindcss";
@import "@nuxt/ui";

/* @plugin "@tailwindcss/typography"; */


:root {
  --ui-primary: hsl(192 70% 35%);
  --ui-secondary: grey;
}



:root {
  --background: 0 0% 100%;
  --secondary: 210 20% 96%;
  --foreground: 210 25% 15%;
  --border: 210 20% 90%;

  --primary-foreground: 0 0% 100%;
  --secondary-foreground: 210 25% 15%;
  --muted-foreground: 210 15% 45%;
}

* {
  border-color: hsl(var(--border));
}

.border {
  border-width: 1px;
}

.bg-background {
  background-color: hsl(var(--background));
}

.bg-foreground {
  background-color: hsl(var(--foreground));
}

.bg-background\/80 {
  background-color: hsl(var(--background) / .8);
}

.bg-secondary {
  background-color: hsl(var(--secondary));
}

.bg-secondary\/30 {
  background-color: hsl(var(--secondary) / .3);
}


.bg-secondary-foreground {
    background-color: hsl(var(--secondary-foreground));
}


.min-h-screen {
  min-height: 100vh;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.text-muted-foreground {  
  color: hsl(var(--muted-foreground));
}

/* @layer base {
  :root {
    --primary: 192 70% 35%;
    --primary-foreground: 0 0% 100%;
  }
} */
